// =======================================================================
// CSS Custom Properties & Sass Variables
// =======================================================================

// Sass Variables
$u-layout-break-s: 34em; //544
$u-layout-break-m: 46em; //736
$u-layout-break-l: 62.5em; //1000
$u-layout-break-xl: 90em; //1440

:root {
  // Colour
  --c-neutral-10: hsla(60, 33%, 99%);
  --c-neutral-50: hsla(45, 29%, 97%);
  --c-neutral-100: hsla(48, 15%, 94%);
  --c-neutral-200: hsla(51, 14%, 90%);
  --c-neutral-300: hsla(45, 13%, 87%);
  --c-neutral-400: hsla(45, 10%, 84%);
  --c-neutral-500: hsla(43, 7%, 80%);
  --c-neutral-600: hsla(45, 6%, 73%);
  --c-neutral-700: hsla(43, 3%, 54%);
  --c-neutral-800: hsla(51, 3%, 50%);
  --c-neutral-900: hsla(50, 3%, 38%);
  --c-neutral-1000: hsla(48, 8%, 12%);

  --c-accent-10: hsla(15, 100%, 99%);
  --c-accent-50: hsla(13, 100%, 98%);
  --c-accent-100: hsla(12, 100%, 95%);
  --c-accent-200: hsla(11, 100%, 91%);
  --c-accent-300: hsla(11, 100%, 87%);
  --c-accent-400: hsla(10, 100%, 83%);
  --c-accent-500: hsla(9, 100%, 79%);
  --c-accent-600: hsla(9, 91%, 71%);
  --c-accent-700: hsla(7, 100%, 56%);
  --c-accent-800: hsla(8, 97%, 48%);
  --c-accent-900: hsla(9, 100%, 42%);
  --c-accent-1000: hsla(8, 64%, 24%);

  // Typography
  --f-family-sans: "Satoshi", "BlinkMacSystemFont", -apple-system,
    "Helvetica Neue", Helvetica, sans-serif;
  --f-family-serif: "Zodiak", Georgia, serif;

  --f-size-body: calc(1.1rem + 0.45vmin);
  --f-size-body-fixed: 1.05rem;
  --f-size-body-small: 0.875rem;

  --f-size-h1: calc(2.75rem + 1.65vw);
  --f-size-h2: calc(1.4rem + 0.75vw);
  --f-size-h3: calc(1.8rem + 0.5vw);
  --f-size-h4: calc(0.9rem + 0.15vw);
  --f-size-blockquote: var(--f-size-h3);

  --f-leading-vtight: 1.1em;
  --f-leading-tight: 1.35em;
  --f-leading: 1.5em;

  --f-spacing-tight: -0.07rem;
  --f-spacing-narrow: -0.016743rem;
  --f-spacing-extended: 0.025rem;

  // Units
  --u-spacer-xxs: 1vmax;
  --u-spacer-xs: 2vmax;
  --u-spacer-s: 4vmax;
  --u-spacer-m: 6vmax;
  --u-spacer-l: 10vmax;
  --u-spacer-xl: 16vmax;

  --u-measure-s: 40rem;
  --u-measure-m: 45rem;
  --u-measure-l: 64rem;
  --u-measure-xl: 88vmin;

  --u-card-inset: calc(1rem + 0.75vmax);

  --u-layout-gutter: calc(2rem + 0.75vmax);

  // Animation
  --a-timing-bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
  --a-duration-vfast: 0.25s;
  --a-duration-normal: 0.45s;

  // Depth
  --d-card: 0 1.5vw 2vw hsla(0, 0%, 0%, 0.15);

  // Transparency
  --t-mid: 0.7;

  @media (min-width: $u-layout-break-l) {
    --u-measure-xl: 75vw;
  }
}
