.t--hero {
  font-weight: 470;
  font-size: 5.8rem;
  line-height: 1em;
  letter-spacing: -0.025em;
  span {
    font-family: var(--t-stack-serif);
    font-size: inherit;
    line-height: inherit;
  }
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

h2,
.t--prose,
* > .t--prose {
  font-weight: 350;
  font-size: 1.5rem;
  line-height: 1.3;
  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

h4 {
  font: 520 0.875rem/1.5em var(--t-stack-sans);
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

p:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
