/*--- Tailwind imports ---*/
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*--- Root variables ---*/
:root {
  --layoutPadding: 2vw;
}

/*--- Typefaces ---*/
@font-face {
  font-family: "Instrument Sans";
  src: url("../../public/fonts/InstrumentSans.woff2") format("woff2-variations");
  font-weight: 400 700;
  font-stretch: 75% 100%;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Serif";
  src: url("../../public/fonts/InstrumentSerif.woff2") format("woff2");
}
@font-face {
  font-family: "Instrument Serif";
  src: url("../../public/fonts/InstrumentSerifItalic.woff2") format("woff2");
  font-style: italic;
}

/*--- Layout ---*/
.layoutMaster {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 32px;
  padding: 0 var(--layoutPadding);
}
.layoutMaster > * {
  grid-column: span 8;
}
.layoutBleed {
  margin: 0 calc(var(--layoutPadding) * -1);
}