---
import MasterLayout from "../layouts/MasterLayout.astro";
const title = "Contact";
const theme = "!bg-red-500";
---

<MasterLayout theme={theme} title={title}>
  <h1>This is some text for the contact</h1>
</MasterLayout>
