---
import MasterLayout from "../layouts/MasterLayout.astro";
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import WorkDisplay from "../components/WorkDisplay";

const work = await getCollection("work");
---

<MasterLayout layout="bg-red-40 min-h-screen grid-rows-[auto,1fr]">
  <Header
    data-header
    class="col-span-full bg-indigo-40"
    style="opacity: 1; filter: blur(0px); transform: translateY(0px);"
  />
  <main
    data-main
    class="o-grid-inner content-center bg-slate-30"
    style="opacity: 1; filter: blur(0px); transform: translateY(0px);"
  >
    <WorkDisplay
      work={work}
      className="o-grid-bleed col-span-full"
      client:load
    />
  </main>
</MasterLayout>

<!-- <script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

<script>
  declare const gsap: any;

  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      const header = document.querySelector("[data-header]");
      const main = document.querySelector("[data-main]");

      [header, main].forEach((el) => {
        if (el) el.removeAttribute("style");
      });

      const tl = gsap.timeline({
        defaults: {
          duration: 1,
          ease: "sine.out",
        },
      });

      tl.fromTo(
        header,
        {
          y: 30,
          opacity: 0,
          filter: "blur(8px)",
        },
        {
          y: 0,
          opacity: 1,
          filter: "blur(0px)",
        }
      ).fromTo(
        main,
        {
          y: -30,
          opacity: 0,
          filter: "blur(8px)",
        },
        {
          y: 0,
          opacity: 1,
          filter: "blur(0px)",
        },
        "-=0.5"
      );
    }, 300);
  });
</script> -->
