---
import MasterLayout from "../layouts/MasterLayout.astro";
import { getCollection } from "astro:content";
import Header from "../components/Header.astro";
import WorkScroller from "../components/WorkScroller";

const work = await getCollection("work");
---

<MasterLayout layout="bg-red-40 min-h-screen grid-rows-[auto,1fr]">
  <Header class="col-span-full bg-indigo-40" />
  <main class="o-grid-inner content-center bg-slate-30">
    <WorkScroller
      client:load
      work={work}
      className="o-grid-bleed col-span-full"
    />
  </main>
</MasterLayout>
