---
import MasterLayout from "../layouts/MasterLayout.astro";
import ProjectImageScroll from "../components/ProjectImageScroll.astro";
import ProjectGrid from "../components/ProjectGrid.astro";
import { getCollection } from "astro:content";

const work = await getCollection("work");
---

<MasterLayout>
  <article class="col-start-1 col-end-4">
    <h1>This is some text for the homepage</h1>
  </article>

  <ProjectImageScroll work={work} class="grid-bleed col-span-full" />

  <!-- <ProjectGrid projects={work} /> -->
</MasterLayout>
