---
import { getCollection } from "astro:content";
import MasterLayout from "../layouts/MasterLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";
import ShaderWrapper from "../components/ShaderWrapper.astro";

const work = await getCollection("work");

const projectOrder = [
  "gamepal",
  "helpper",
  "scorecard",
  "realo",
  "shelf",
  "immo brown",
  "diabetik",
];

const sortedProjects = [...work].sort((a, b) => {
  const orderA = projectOrder.indexOf(a.data.name.toLowerCase());
  const orderB = projectOrder.indexOf(b.data.name.toLowerCase());
  return orderA - orderB;
});
---

<MasterLayout>
  <section
    data-blurRevealFromBottom
    class="o-grid--inner !gap-[calc(var(--u-grid-gap)/2)]"
  >
    <header
      class="grid grid-cols-subgrid col-span-full items-end h-[50vh] bg-yllow-200"
    >
      <figure class="w-[80px] rounded-full overflow-clip">
        <ShaderWrapper
          hover={false}
          sources={[
            {
              srcset: "/images/decoImage.avif",
              type: "image/avif",
            },
            {
              srcset: "/images/decoImage.webp",
              type: "image/webp",
            },
          ]}
          fallbackSrc="/images/decoImage.jpg"
          alt="Hi there!"
        />
      </figure>
      <article
        data-textBlurFadeIn
        class="col-span-2 text-balance [&>*]:indnt-8 [&>*]:!mb-0"
      >
        <p>
          I&rsquo;m a designer and developer from Belgium with <em
            class="font-medium">15+ years of experience</em
          >
          in digital product design. Currently, I&rsquo;m looking for a full-time
          UX/UI designer role. Want to work with me? Feel free to reach out via
          <a href="mailto:hey@jeremys.be" class="font-medium">email</a>.
        </p>
      </article>
      <figure class="hidden col-span-2 rounded-full overflow-clip">
        <ShaderWrapper
          hover={false}
          sources={[
            {
              srcset: "/images/decoImage.avif",
              type: "image/avif",
            },
            {
              srcset: "/images/decoImage.webp",
              type: "image/webp",
            },
          ]}
          fallbackSrc="/images/decoImage.jpg"
          alt="Hi there!"
        />
      </figure>
    </header>
    <section
      class="grid grid-cols-subgrid gap-[calc(var(--u-grid-gap)*1.5)] col-span-full"
    >
      {sortedProjects.map((project) => <ProjectItem project={project.data} />)}
    </section>
  </section>
</MasterLayout>
