---
import MasterLayout from "../layouts/MasterLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";
import { getCollection } from "astro:content";

const projectOrder = [
  "gamepal",
  "helpper",
  "scorecard",
  "realo",
  "shelf",
  "immo brown",
  "diabetik",
];

const work = await getCollection("work");
const sortedProjects = [...work].sort((a, b) => {
  const orderA = projectOrder.indexOf(a.data.name.toLowerCase());
  const orderB = projectOrder.indexOf(b.data.name.toLowerCase());
  return orderA - orderB;
});
---

<MasterLayout>
  <section
    data-blurRevealFromBottom
    class="col-span-full flex flex-col gap-12 md:gap-20"
  >
    {sortedProjects.map((project) => <ProjectItem project={project.data} />)}
  </section>
</MasterLayout>
