---
import MasterLayout from "../layouts/MasterLayout.astro";
import Header from "../components/Header.astro";
import WorkList from "../components/WorkList.tsx";
import { getCollection } from "astro:content";
const title = "Profile";

const projectsOrder = [
  "gamepal",
  "helpper",
  "scorecard",
  "realo",
  "shelf",
  "immo brown",
  "diabetik",
];

const work = await getCollection("work");

const sortedWork = work.sort((a: any, b: any) => {
  const orderA = projectsOrder.indexOf(a.data.name.toLowerCase());
  const orderB = projectsOrder.indexOf(b.data.name.toLowerCase());
  return orderA - orderB;
});
---

<MasterLayout title={title}>
  <section
    class="bg-brandLightGreen text-brandDarkGreen o-grid-bleed col-span-full"
  >
    <div class="o-container">
      <Header data-header class="col-span-full" />
      <article class="py-16 col-span-full o-grid items-center">
        <h1 class="col-span-7 h-fit heroHeadline">
          Designer and developer from Belgium with 15+ years of experience in
          digital product design.
        </h1>
        <!-- <BlurHeading
          client:load
          text="Designer and developer from Belgium with 15+ years of experience in digital product design."
          className="col-span-7"
        /> -->
        <!-- <GlitchHeading
          client:load
          text="Designer and developer from Belgium with 15+ years of experience in digital product design."
          className="col-span-7"
        /> -->
        <picture class="col-span-4 -mb-[5v]">
          <source srcset="/images/profileShot.avif" type="image/avif" />
          <source srcset="/images/profileShot.webp" type="image/webp" />
          <img src="/images/profileShot.jpg" alt="Hi there!" />
        </picture>
      </article>
    </div>
  </section>
  <main class="o-grid col-span-full">
    <section class="o-grid-inner">
      <header class="col-span-3 bg-emerald-30">
        <div class="flex items-center gap-2">
          <span
            class="block w-2 h-2 bg-transparent border border-current rounded-full"
          ></span>
          <h2>About</h2>
        </div>
      </header>
      <article class="col-start-5 col-span-6 bg-yellow-30">
        <p>
          In today's professional landscape, teams grapple with an overwhelming
          amount of unstructured data—contracts, policies, claims, financial
          statements—often trapped in formats like PDFs and spreadsheets. While
          other sectors scale their outputs with advanced software and
          infrastructure, legal, insurance, and finance teams are limited by
          manual data processing and headcount constraints. We've witnessed
          firsthand how this bottleneck leads to inefficiencies and hampers
          growth within these sectors.
        </p>
        <p>
          While other sectors scale their outputs with advanced software and
          infrastructure, legal, insurance, and finance teams are limited by
          manual data processing and headcount constraints. We've witnessed
          firsthand how this bottleneck leads to inefficiencies and hampers
          growth within these sectors.
        </p>
      </article>
      <section
        class="col-span-6 col-start-5 o-grid-inner [&>*]:col-span-6 [&>*]:bg-neutral-20 bg-orange-30"
      >
        <div class="flex flex-col gap-3">
          <h3 class="font-medium">Skills</h3>
          <ul>
            <li>User Experience Design</li>
            <li>User Interface Design</li>
            <li>Web Design</li>
            <li>Design Systems</li>
            <li>Front-end Web Development</li>
            <li>iOS App Development</li>
          </ul>
        </div>
        <div class="flex flex-col gap-3">
          <h3 class="font-medium">Services</h3>
          <ul>
            <li>User Experience Design</li>
            <li>User Interface Design</li>
            <li>Web Design</li>
          </ul>
        </div>
      </section>
    </section>
    <section class="o-grid-inner">
      <header class="col-span-full bg-emerald-30">
        <div class="flex items-center gap-2">
          <span class="bg-current w-2 h-2 block rounded-full"></span>
          <h2>Work experience</h2>
        </div>
      </header>
      <WorkList
        client:load
        className="col-span-full bg-violet-30"
        work={sortedWork}
      />
    </section>
  </main>
</MasterLayout>
