---
import MasterLayout from "../layouts/MasterLayout.astro";
import Header from "../components/Header.astro";
const title = "Profile";
const theme = "bg-indigo-500";
---

<MasterLayout theme={theme} title={title}>
  <Header class="col-span-full bg-indigo-40" />
  <main class="o-grid-inner content-center bg-slate-30">
    <h1>This is some text for the profile</h1>
  </main>
</MasterLayout>
