---
import Brand from "./Brand.astro";
import Navigation from "./Navigation.astro";
import Shader from "./Shader.astro";

const { class: className, ...rest } = Astro.props;
---

<aside
  class:list={["h-screen py-7 flex flex-col justify-between", className]}
  {...rest}
>
  <header class="flex gap-4 items-center">
    <a href="/">
      <Brand class="text-current" />
    </a>
    <div class="flex flex-col text-sm">
      <h1><a href="/" class="font-semibold">Jeremy Swinnen</a></h1>
      <em class="opacity-60">Software Designer</em>
      <!-- <Navigation /> -->
    </div>
  </header>
  <article class="[&>*]:indent-8 [&>*]:!mb-0 t--prose text-balanc">
    <p>
      I'm a designer and developer from Belgium with <em class="font-medium"
        >15+ years of experience</em
      >
      in digital product design.
    </p>
    <p>
      Currently, I'm looking for a full-time UX/UI designer role.Want to work
      with me? Feel free to reach out via <a
        href="mailto:hey@jeremys.be"
        class="font-medium">email</a
      >.
    </p>
  </article>
  <div class="flex items-end gap-2">
    <Shader
      sources={[
        { srcset: "/images/profileShot.avif", type: "image/avif" },
        { srcset: "/images/profileShot.webp", type: "image/webp" },
      ]}
      fallbackSrc="/images/profileShot.jpg"
      alt="Hi there!"
    />
    <!-- <picture>
      <source srcset="/images/profileShot.avif" type="image/avif" />
      <source srcset="/images/profileShot.webp" type="image/webp" />
      <img
        class="max-h-[45vh] md:max-h-[35vh]"
        src="/images/profileShot.jpg"
        alt="Hi there!"
      />
    </picture> -->
    <div class="flex flex-col gap-2 items-center justify-end">
      <span class="[writing-mode:vertical-lr] text-right text-sm font-medium"
        >TOOTIMETOOTIMETOOTIME &mdash; The 1975</span
      >
      <div class="relative inline-block overflow-hidden w-7 h-7">
        <img
          class="vinylMask block w-full h-full object-cover"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN2eX-KzPS2cTM5A20bdWZ3KQ2--yBTuxgLw&s"
          alt="Album Cover"
        />
      </div>
    </div>
  </div>
</aside>
