---
interface Props {
  href: string;
  label: string;
  class?: string;
}

const { href, label, class: className = "" } = Astro.props;
---

<a
  href={href}
  class:list={[
    "group relative px-5 pt-1 pb-2 rounded-full dark:text-white uppercase text-5xl border-2 border-current",
    "will-change-auto cta-interaction overflow-hidden hover:text-stone-900 hover:scale-95",
    className,
  ]}
>
  <div
    class="relative z-10 inline-block cta-interaction group-hover:text-white group-hover:translate-x-2"
  >
    <span>
      {label}
    </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 94 94"
      fill="currentColor"
      class="hidden w-7 h-7"
      aria-hidden="true"
    >
      <path
        d="M12.018 12.462V0h81.84v81.84h-12.462l.186-60.264L9.6 93.558l-9.3-9.3L72.282 12.276l-60.264.186Z"
      ></path>
    </svg>
  </div>
  <span
    class="bg-stone-900 dark:bg-white block absolute inset-0 w-full h-full rounded-full -translate-x-full cta-interaction group-hover:translate-x-0"
  ></span>
</a>
