---
import { getCollection } from "astro:content";
import Button from "./Button.astro";

// Fetch the latest music entry
const music = await getCollection("music");
const latestTrack = music.sort(
  (a: any, b: any) => b.data.date.getTime() - a.data.date.getTime()
)[0];
---

<footer
  data-speed="1.5"
  class="col-span-full grid grid-cols-subgrid grid-rows-[auto_1fr_auto] pt-6 h-[50vh] border-t border-stone-900 dark:border-white/20"
>
  <div class="col-span-full grid grid-cols-subgrid h-fit content-start">
    <article class="col-span-2 flex flex-col gap-3 text-balance">
      <p>
        Thanks for visiting! Interested in collaborating on your app or website?
        Feel free to contact me.
      </p>
    </article>
    <div class="col-span-2 col-start-7 hidden md:flex gap-1 justify-end">
      <span>Local time</span>
      <span class="font-[system-ui,sans-serif] opacity-50">&rarr;</span>
      <span data-currentTime></span>
    </div>
  </div>

  <div class="col-span-full grid grid-cols-subgrid place-content-center">
    <Button
      data-copyEmail
      class="col-span-full place-self-center w-fit h-fit tracking-tight !px-[6vw] !pb-[1.5vw] !text-[8vw] !normal-case !border-[0.2vw]"
      href="mailto:hey@jeremys.be"
      label="hey@jeremys.be"
    />
  </div>

  <div
    class="col-span-full grid grid-cols-subgrid gap-y-2 md:gap-y-0 h-fit content-start"
  >
    <div
      class="col-span-full md:!col-span-3 flex gap-2 items-center justify-center md:justify-start"
    >
      <div class="relative inline-block overflow-hidden w-7 h-7">
        <img
          class="vinylMask block w-full h-full object-cover"
          src={latestTrack.data.albumCover}
          alt={`${latestTrack.data.title} album cover`}
        />
      </div>
      <span class="text-sm font-medium"
        >{latestTrack.data.title} &mdash; {latestTrack.data.artist}</span
      >
    </div>
    <div
      class="col-span-full md:!col-span-2 md:!col-start-7 text-right flex justify-center md:justify-end"
    >
      <span class="opacity-70">&copy; JS.2025</span>
    </div>
  </div>
</footer>

<script>
  function updateTime() {
    const options: Intl.DateTimeFormatOptions = {
      hour: "2-digit",
      minute: "2-digit",
      hour12: false,
      timeZone: "Europe/Brussels",
    };

    const timeElements = document.querySelectorAll("[data-currentTime]");

    timeElements.forEach((el) => {
      if (el instanceof HTMLElement) {
        const timeString = new Intl.DateTimeFormat("en-GB", options).format(
          new Date()
        );
        el.innerHTML = timeString.replace(":", `<span class="blink">:</span>`);
      }
    });
  }

  function toggleBlink() {
    document.querySelectorAll(".blink").forEach((colon) => {
      if (colon instanceof HTMLElement) {
        colon.style.opacity = colon.style.opacity === "0" ? "1" : "0";
      }
    });
  }

  setInterval(updateTime, 60000);
  setInterval(toggleBlink, 800);
  updateTime();
</script>
