---
const navItems = [
  { path: "/", label: "Work" },
  { path: "/feed", label: "Feed" },
  { path: "/profile", label: "Profile" },
  { path: "/contact", label: "Contact" },
];

// Get current path to highlight active link
const currentPath = Astro.url.pathname;

const { class: className, ...rest } = Astro.props;
---

<header class:list={["flex justify-between items-center", className]} {...rest}>
  <div class="flex gap-2 items-center">
    <a href="/" class="hover:opacity-80 transition-all duration-300 hidden">
      <img src="/branding.svg" alt="Jeremy Swinnen" class="h-6 w-auto" />
    </a>
    <div class="flex items-center gap-1.5 font-medium">
      <p>Jeremy Swinnen</p>
      <p class="opacity-20">/</p>
      <p>Software Designer</p>
    </div>
  </div>
  <nav>
    <ul class="flex gap-6 font-medium">
      {
        navItems.map(({ path, label }) => (
          <li>
            <a
              href={path}
              class:list={[
                "hover:text-black transition-all duration-300 text-black/60",
                currentPath === path && "!text-black",
              ]}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
