---
// const navItems = [
//   { path: "/", label: "Work" },
//   { path: "/feed", label: "Feed" },
//   { path: "/profile", label: "Profile" },
//   { path: "/contact", label: "Contact" },
// ];

// // Get current path to highlight active link
// const currentPath = Astro.url.pathname;

const { class: className, ...rest } = Astro.props;
---

<header class:list={["flex justify-between items-center", className]} {...rest}>
  <div class="flex gap-2 items-center">
    <a href="/" class="!hover:opacity-80 hidden">
      <img src="/branding.svg" alt="Jeremy Swinnen" class="h-6 w-auto" />
    </a>
    <div class="flex items-center gap-1.5 font-medium">
      <a href="/"><p>Jeremy Swinnen</p></a>
      <p class="opacity-20">/</p>
      <p>Software Designer</p>
    </div>
  </div>
  <!-- <nav>
    <ul class="flex gap-6 font-medium">
      {
        navItems.map(({ path, label }) => (
          <li>
            <a
              href={path}
              class:list={[
                "hover:!text-black dark:hover:!text-white dark:text-white/60 hover:!opacity-100 text-black/60",
                currentPath === path && "!text-black dark:!text-white",
              ]}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav> -->
</header>
