---
const navItems = [
  { path: "/", label: "Work" },
  { path: "/feed", label: "Feed" },
  { path: "/profile", label: "Profile" },
  // { path: "/contact", label: "Contact" },
  { path: "mailto:hey@jeremys.be", label: "hey@jeremys.be" },
];

const currentPath = Astro.url.pathname;

const { class: className, ...rest } = Astro.props;
---

<header
  class:list={[
    "mb-12 flex justify-between items-center font-display uppercase",
    className,
  ]}
  {...rest}
>
  <span>Software Designer</span>
  <a href="/">
    <img class="w-6 h-auto" src="branding.svg" alt="Jeremy Swinnen" />
  </a>
  <nav>
    <ul class="flex gap-6">
      {
        navItems.map(({ path, label }) => (
          <li>
            <a
              href={path}
              class:list={[
                "hover:!text-black dark:hover:!text-white dark:text-white/60 hover:!opacity-100 text-black/60",
                currentPath === path &&
                  "font-medium !text-zinc-950 dark:!text-white",
              ]}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
