---
import Brand from "./Brand.astro";

const { class: className, ...rest } = Astro.props;
const currentPath = Astro.url.pathname;

const navItems = [
  { path: "/", label: "Work" },
  { path: "/feed", label: "Feed" },
  { path: "/profile", label: "Profile" },
  // { path: "/contact", label: "Contact" },
  { path: "mailto:hey@jeremys.be", label: "hey@jeremys.be" },
];
---

<header
  class:list={[
    "flex flex-col md:flex-row md:items-center py-4 font-display uppercase",
    className,
  ]}
  {...rest}
>
  <span class="flex-1 opacity-60">Software Designer</span>
  <a href="/">
    <Brand class="text-current" />
  </a>
  <nav class="flex-1 flex md:justify-end">
    <ul class="flex gap-6">
      {
        navItems.map(({ path, label }) => (
          <li>
            <a
              href={path}
              class:list={[
                "hover:!text-black dark:hover:!text-white dark:text-white/60 hover:!opacity-100 opacity-60",
                currentPath === path &&
                  "font-medium !text-zinc-950 dark:!text-white !opacity-100",
              ]}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
