<div
  data-introOverlay
  class="absolute z-[9999] inset-0 w-full h-full bg-stone-950 dark:bg-white text-white dark:text-stone-900"
>
  <section
    class="grid grid-cols-[42.5fr_15fr_42.5fr] gap-[1vw] h-screen [&>*]:flex [&>*]:items-center [&>*]:text-sm"
  >
    <span data-introTextLeft class="font-medium justify-end"
      >Jeremy Swinnen</span
    >
    <picture>
      <source srcset="/images/profileShot.avif" type="image/avif" />
      <source srcset="/images/profileShot.webp" type="image/webp" />
      <img data-introImage src="/images/profileShot.jpg" alt="Hi there!" />
    </picture>
    <span data-introTextRight class="opacity-70"
      >Designer and creative developer</span
    >
  </section>
</div>
