---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"articles">;
  datetime: string;
  time: string;
}

const { entry, datetime, time } = Astro.props;
---

<>
  <section class="flex justify-end">
    <time datetime={datetime} class="text-sm opacity-70">
      {time}
    </time>
  </section>
  <section class="flex flex-col">
    <h3 class="text-lg font-medium hover:underline">
      <a href={`/blog/articles/${entry.slug}`}>{entry.data.title}</a>
    </h3>
  </section>
</>
