---
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"articles">;
  datetime: string;
  time: string;
}

const { entry, datetime, time } = Astro.props;
---

<>
  <section class="bg-indigo-100">
    <time datetime={datetime} class="text-sm opacity-70">
      {time}
    </time>
  </section>
  <section class="bg-green-100 flex flex-col">
    <a
      href={`/blog/articles/${entry.slug}`}
      class="text-lg font-medium hover:text-brandOrange"
    >
      {entry.data.title}
    </a>
  </section>
</>
