// Helpers
@use "helpers/variables";
@use "helpers/layout";

// Components
@use "components/typography";

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Tailwind Extends
@layer base {
  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: "OverusedGrotesk";
      font-style: normal;
      font-weight: 300 900;
      font-display: swap;
      src: url("/fonts/OverusedGrotesk.woff2") format("woff2");
      font-named-instance: "Regular";
    }

    @font-face {
      font-family: "OverusedGrotesk";
      font-style: italic;
      font-weight: 300 900;
      font-display: swap;
      src: url("/fonts/OverusedGrotesk.woff2") format("woff2");
      font-named-instance: "Italic";
    }

    @font-face {
      font-family: "InstrumentSerif";
      font-style: normal;
      font-display: swap;
      src: url("/fonts/InstrumentSerif.woff2") format("woff2");
      font-named-instance: "Regular";
    }

    @font-face {
      font-family: "InstrumentSerif";
      font-style: italic;
      font-display: swap;
      src: url("/fonts/InstrumentSerifItalic.woff2") format("woff2");
      font-named-instance: "Italic";
    }
  }
}
@layer utilities {
  .font-thin {
    font-variation-settings: "wght" 100;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
  }
  .font-light {
    font-variation-settings: "wght" 300;
  }
  .font-normal {
    font-variation-settings: "wght" 380;
  }
  .font-medium {
    font-variation-settings: "wght" 470;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
}

body,
a {
  cursor: none;
}

.animated-cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: url("/images/cursorDouble.png") 0 0 no-repeat;
  background-size: 500% 200%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: cursorAnimation 1.25s steps(5) infinite;
  z-index: 9999;
  @media (prefers-color-scheme: dark) {
    background-position: 0 -50px;
    mix-blend-mode: difference;
  }
}

@keyframes cursorAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -250px;
  }
}

.vinylMask {
  mask-image: url("/images/vinylMask.svg");
  -webkit-mask-image: url("/images/vinylMask.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  animation: rotateImage 7s linear infinite;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
