---
import "../assets/styles/global.scss";
import Aside from "../components/Aside.astro";

const { title, description, theme } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | Jeremy Swinnen` : "Jeremy Swinnen"}
    </title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class={`${theme ? theme : ""} o-container font-sans dark:bg-stone-950 text-stone-900 dark:text-white/85 selection:bg-stone-200 selection:dark:bg-stone-400`}
  >
    <div class="o-grid">
      <Aside class="bg-stone-90 md:sticky md:top-0" />
      <main class="bg-stone-90">
        <section class="o-grid-inner">
          <slot />
        </section>
      </main>
    </div>
  </body>
</html>
