---
import "../assets/styles/global.scss";
import Aside from "../components/Aside.astro";

const { title, description, theme } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? `${title} | Jeremy Swinnen` : "Jeremy Swinnen"}
    </title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class={`${theme ? theme : ""} o-container font-sans dark:bg-stone-950 text-stone-900 dark:text-white/85 selection:bg-stone-200 selection:dark:bg-stone-400`}
  >
    <div class="o-grid">
      <Aside class="md:sticky md:top-0" />
      <main class="relative md:pt-12">
        <section class="o-grid-inner">
          <slot />
        </section>
      </main>
    </div>
  </body>
</html>

<style lang="scss">
  div.o-grid > main:before {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1000;
    content: "";
    background: linear-gradient(to top, transparent, rgb(252, 252, 252));
    mask-image: linear-gradient(to bottom, rgb(252, 252, 252) 25%, transparent);
    backdrop-filter: blur(1.5px);
    pointer-events: none;
    @media (prefers-color-scheme: dark) {
      background: linear-gradient(to top, transparent, rgb(0, 0, 0));
      mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 25%, transparent);
    }
  }
</style>
