---
import "../assets/styles/globals.css";

const { title, description, layout } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | My Website` : "My Website"}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class="o-container font-sans pt-6 dark:bg-zinc-950 text-zinc-950 dark:text-white/85"
  >
    <div class={`o-grid ${layout}`}>
      <slot />
    </div>
  </body>
</html>

<!-- <script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    setTimeout(() => {
      const header = document.querySelector("[data-header]");
      const main = document.querySelector("[data-main]");

      [header, main].forEach((el) => {
        if (el) el.removeAttribute("style");
      });

      const tl = gsap.timeline({
        defaults: {
          duration: 1,
          ease: "sine.out",
        },
      });

      tl.fromTo(
        header,
        {
          y: 30,
          opacity: 0,
          filter: "blur(8px)",
        },
        {
          y: 0,
          opacity: 1,
          filter: "blur(0px)",
        }
      ).fromTo(
        main,
        {
          y: -30,
          opacity: 0,
          filter: "blur(8px)",
        },
        {
          y: 0,
          opacity: 1,
          filter: "blur(0px)",
        },
        "-=0.5"
      );
    }, 300);
  });
</script> -->
