---
import "../assets/styles/globals.css";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | My Website` : "My Website"}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body
    class="o-container font-sans pt-8 dark:bg-slate-950 text-slate-950 dark:text-white/85"
  >
    <div class="o-grid">
      <Header
        data-header
        class="backBlur o-grid-inner w-full py-8 fixed left-0 bottom-0 z-10"
        style="opacity: 0; filter: blur(8px); transform: translateY(30px);"
      />
      <Nav
        data-nav
        class="col-span-full"
        style="opacity: 0; filter: blur(8px); transform: translateY(-30px);"
      />
      <main
        data-main
        class="o-grid-inner"
        style="opacity: 0; filter: blur(8px); transform: translateY(-30px);"
      >
        <slot />
      </main>
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    setTimeout(() => {
      const header = document.querySelector("[data-header]");
      const nav = document.querySelector("[data-nav]");
      const main = document.querySelector("[data-main]");

      [header, nav, main].forEach((el) => {
        if (el) el.removeAttribute("style");
      });

      const tl = gsap.timeline({
        defaults: {
          duration: 1,
          ease: "sine.out",
        },
      });

      tl.fromTo(
        header,
        {
          y: 30,
          opacity: 0,
          // filter: "blur(8px)",
        },
        {
          y: 0,
          opacity: 1,
          // filter: "blur(0px)",
        }
      )
        .fromTo(
          main,
          {
            y: -30,
            opacity: 0,
            filter: "blur(8px)",
          },
          {
            y: 0,
            opacity: 1,
            filter: "blur(0px)",
          },
          "-=0.5"
        )
        .fromTo(
          nav,
          {
            y: -30,
            opacity: 0,
            filter: "blur(8px)",
          },
          {
            y: 0,
            opacity: 1,
            filter: "blur(0px)",
          },
          "-=0.5"
        );
    }, 300);
  });
</script>
