// =======================================================================
// Typography
// =======================================================================

// Custom fonts
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Satoshi";
  src: url("/fonts/SatoshiItalic.woff2") format("woff2-variations");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/Zodiak.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Zodiak";
  src: url("/fonts/ZodiakItalic.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

// Type
body {
  font-family: var(--f-family-sans);
}
